/* ==========================================================================
   Boilerplate by @doublecompile
   Version 0.1.0
   MIT License
   ========================================================================== */

body {
    font-family: 'Roboto', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 1.25em;
    margin: 2.5em;
    color: #222;
    min-width: 15em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code, pre, samp, kbd, tt {
    font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', monospace;
}

h1 {
	font-size: 4em;
	line-height: 0.9375em;
}
h2 {
	font-size: 2.5em;
	line-height: 1em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.667em;
}
h4 {
	font-size: 1em;
	line-height: 1.25em;
}
h5 {
	font-size: 0.75em;
	line-height: 1.667em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, pre, table, dl, menu, ol, ul {
	margin: 1.25em 0;
}
menu, ol, ul {
	padding: 0 0 0 2.5em;
}
dd {
	margin: 0 0 0 2.5em;
}
blockquote {
	margin: 1.25em 2.5em;
}
li > *:first-child {
	margin-top: 0;
}
li > *:last-child {
	margin-bottom: 0;
}
li ol, li ul {
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
	padding: 0 0.625em;
}
tr > *:first-child {
	padding-left: 1.25em;
}
tr > *:last-child {
	padding-right: 1.25em;
}
td > *:first-child {
	margin-top: 0;
}
td > *:last-child {
	margin-bottom: 0;
}

.csshyphens p,
.csshyphens dd,
.csshyphens li {
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

@media (min-width: 768px) {
	.columns > .column {
		float: left;
		width: 50%;
	}
	.columns > .column:last-child {
		float: right;
	}
	.columns > .column > * {
		margin-left: 1.25em;
		margin-right: 1.25em;
	}
	.column .column > * {
		margin-left: 0.625em;
		margin-right: 0.625em;
	}
	.columns > .column:first-child > * {
		margin-left: 0;
	}
	.columns > .column:last-child > * {
		margin-right: 0;
	}
	.columns-golden > .column {
		width: 38.097%;
	}
	.columns-golden.big-right > .column:last-child,
	.columns-golden.big-left > .column:first-child {
		width: 61.803%;
	}
}

#universe {
    max-width: 1020px;
    margin: 0 auto;
}
.logo {
    background-image: url("../favicon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 100px;
    margin-bottom: 1.25em;
}
.install {
    margin-top: 1.25em;
}
#page-header h2 {
    font-size: 1.5em;
	line-height: 1.667em;
    margin-top: 0.833em;
}
code {
    background-color: #e0f5ff;
}
pre {
    background-color: #f1f1f1;
    padding: 1.25em;
    overflow-x: auto;
}
pre code {
    background-color: transparent;
}
#page-footer {
    color: rgba(34, 34, 34, 0.62);
}
#page-footer a {
    color: rgba(0, 0, 238, 0.62);
}

/* ==========================================================================
   These are some useful utility classes from both H5BP and Bootstrap
   ========================================================================== */

.ir,
.text-hide {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hidden {
    display: none !important;
}

.sr-only,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
