body {
    font-family: 'Roboto', 'Open Sans', 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    color: #002B36;
    margin: 0;
}

code, pre, samp, kbd, tt {
    font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body > main {
    margin: 2.5em;
}
body > header, body > footer {
    background-color: #002b36;
    color: #93a1a1;
}
body > header {
    padding: 2.5em;
}
body > header h1 {
    font-size: 40px;
    line-height: 1em;
}
body > footer {
    padding: 1.25em 2.5em;
    text-align: center;
}
body > header a, body > footer a {
    color: #EEE8D5;
}

aside {
    background-color: #EEE8D5;
    padding: 1.25em;
}
aside > *:last-child {
    margin-bottom: 0;
}

main > header > h1 {
    font-size: 64px;
    line-height: 60px;
    padding-bottom: 18px;
    border-bottom: 2px solid #DC322F;
}

section > header > h1 {
    background-color: #073642;
    padding: 0.5em;
    color: #fff;
    font-size: 40px;
    line-height: 1em;
}

main > section {
    margin: 2.5em 0;
}

main > section > *:last-child {
    margin-bottom: 0;
}

main > section > section > header > h1 {
    border-left: 10px solid #DC322F;
    background-color: #fff;
    color: #222;
    font-size: 24px;
    line-height: 40px;
    padding: 0 20px;
}

p, pre, table {
	margin: 1.25em 0;
}
dl, menu, ol, ul {
	margin: 1.25em 0;
}
menu, ol, ul {
	padding: 0 0 0 1.25em;
}
dt {
    font-weight: bold;
}
dd {
	margin: 0 0 0 2.5em;
}
blockquote {
	margin: 1.25em 2.5em;
}
li > *:first-child {
	margin-top: 0;
}
li > *:last-child {
	margin-bottom: 0;
}

header {
    margin-bottom: 1.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
caption {
    background-color: #657B83;
    color: #f3f3f3;
    font-weight: bold;
    padding: 0.625em;
    text-align: left;
}
th, td {
	padding: 0.625em 0.625em;
    padding-bottom: 9px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    background-color: #EEE8D5;
}
tr > *:first-child {
    text-align: right;
    width: 38%;
	padding-left: 1.25em;
}
tr > *:last-child {
	padding-right: 1.25em;
}
td > *:first-child {
	margin-top: 0;
}
td > *:last-child {
	margin-bottom: 0;
}
tr:nth-child(even) > * {
    background-color: #FDF6E3;
}
thead th {
    background-color: #93A1A1;
}
tbody th {
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.columns > .column
{
    float: left;
    width: 50%;
}
.columns > .column:last-child
{
    float: right;
}
.columns > .column > *
{
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.column .column > *
{
    margin-left: 0.625em;
    margin-right: 0.625em;
}
.columns > .column:first-child > *
{
    margin-left: 0;
}
.columns > .column:last-child > *
{
    margin-right: 0;
}
.columns-golden > .column
{
    width: 38.097%;
}
.columns-golden.big-right > .column:last-child,
.columns-golden.big-left > .column:first-child
{
    width: 61.803%;
}


.tags-parameters tr > * {
    text-align: center;
}
.tags-parameters tr > * {
    width: 19%;
}
.tags-parameters tr > *:last-child {
    width: 61.803%;
    text-align: left;
}

.method-section {
    background-color: #f3f3f3;
    padding: 1.25em;
    padding-bottom: 1px;
    padding-top: 19px;
    margin-bottom: 1.25em;
}
.method-section .method-signature, .property-section .property-signature, .constant-section .constant-signature {
    padding: 1.25em;
    color: #FDF6E3;
    background-color: #073642;
}

.class-name, .ref, .ref a {
    color: #268BD2;
}
.namespace, a.namespace, .namespace a {
    color: #D33682;
}
.primitive {
    color: #CB4B16;
}
.constant-name, .constant-name a, .parameter-name, .property-name, .property-name a {
    color: #B58900;
}
.parameter-default {
    color: #859900;
}
.generic-ref, .generic-type {
    color: #2AA198;
}
.method-name, .method-name a {
    color: #6C71C4;
}
.method-name a {
    border-bottom: 1px dotted rgba(108, 113, 196, 0.62);
}
.ref a {
    border-bottom: 1px dotted rgba(38, 139, 210, 0.62);
}
a.class-name,
.constant-name a,
.property-name a,
.method-name a {
    font-weight: bold;
}
.separator-generic, .separator-parameter, .nullable {
    color: #839496;
}
